.DS_Store
.vscode/
aider.code-workspace
*.pyc
.aider.chat.history.md
.aider.tags.cache.v2
.aider.tags.cache.v3
.aider.undo.gz
aider_chat.egg-info/
build
dist/
Gemfile.lock
_site
.jekyll-cache/
.jekyll-metadata
aider/__version__.py
aider/_version.py
.venv/
.#*
.gitattributes
tmp.benchmarks/
.env
